@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
html {
  scroll-behavior: smooth !important;
}

html , body {
  background-color: #001852;
  color: white
}


#tsparticles {
  position: absolute;
  height: 92vh !important;
  left: 0;
  right: 0;
  top:3;
  bottom:0;
}

.active-scroll-spy {
  border: 1px solid #88ffcc;
  border-radius: 10px;
  padding: 10px;
  transition-delay: 0, 2s;

}

